:root {
  --background-color: #0c0c0c;
  --text-color: #fff;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .title {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  font-size: 3rem;
}

.textarea-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.textarea-container .text-box {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 200px;
}

.container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container .options button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.counters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.counters-container .count-title {
  margin: 1rem auto;
}

.word-count,
.character-count,
.sentence-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 33%;
}

.count {
  margin: 0;
  font-size: 4rem;
}

.word-count {
  background-color: var(--primary-color);
}

.character-count {
  background-color: var(--secondary-color);
}

.sentence-count {
  background-color: var(--success-color);
}

.letters-density-container {
  display: none;
}

.letters-density {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.letter-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.density-bar {
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  flex-grow: 1;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.density-bar .filled {
  height: 100%;
  background-color: var(--success-color);
  border-radius: 5px 0 0 5px;
}

.letter-text {
  font-size: 14px;
  font-weight: bold;
  min-width: 50px;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
  margin: 20px 0;
}
